[Desktop Entry]
Name=Ori and the Will of the Wisps Randomizer
Exec="/opt/wotw-randomizer/Ori and the Will of the Wisps Randomizer"
Icon=wotw-randomizer
Type=Application
Categories=Game;
