[Desktop Entry]
Name=Ori and the Will of the Wisps Randomizer
Exec="/opt/wotw-randomizer/Ori and the Will of the Wisps Randomizer"
Icon=com.orirando.wotw
Type=Application
Categories=Game;
